.navbar-btn {
	margin-right: 5px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    outline: none !important;
}
.btn-success.active {
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-success:active:hover {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
    outline: none !important;
}

