<button id="meal-button" data-toggle="modal" data-target="#myModal" data-backdrop="static">Add Meal</button>
      
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> <!--1-->
          <div class="modal-dialog" role="document"> <!--2-->
            <div class="modal-content" ng-controller="formCtrl"> <!--3-->
                <div class="modal-header"> <!--4-->
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clear()"><span aria-hidden="true">&times;</span></button>
                  <h2 class="modal-title" id="myModalLabel">Meal</h2>
                </div> <!--/4-->
                
                <div class="modal-body"> <!--5-->
                  <label>Description :
                    <input type="text" ng-model="meal.description">
                  </label>
                  <div ng-repeat="item in meal.items"> <!--6-->
                <label>Item {{$index+1}} :
                  <input type="text" class="item" ng-model="item.name"><br>
                </label>
                <label>Calories :
                  <input type="number" class="calories" ng-model="item.cal"><br>
                </label>
                <br>
              </div> <!--/6-->
                
                <div class="modal-footer"> <!--7-->
                <button ng-click="clear()" style="box-shadow:none;outline:none;" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="submit()" class="btn btn-primary" id="submit" data-dismiss="modal">Submit</button>
                <button ng-click="addItem()" class="btn btn-primary">+Item</button>
                </div> <!--/7-->

            </div> <!--/5-->
           </div> <!--/3-->
            </div> <!--/2-->
      </div><!--/1-->
