body {
	font-family: "garamond";
	height: 100%;
	background-color: #F3EFE0;
}

#top {
	clear: both;
	width: 100%;
	height: 50px;
	background-color: #3399FF;
}

#main-content {
	background-color: #F3EFE0;
}

#left {
	margin-top:100px;
	margin-left: 70px;
	height: 50px;
	width: 250px;
	text-align: center;
}

#right {
	margin-top: -50px;
	margin-left: 450px;
	height: 100%;
	width: 550px;
}

#meal-button {
	width: 250px;
	height: 50px;
	background-color: #217C7E;
	border-color:transparent;
	font-size: 25px;
	border-radius: 5px;
	font-family: "garamond";
	font-weight: bold;
	box-shadow: none;
	display: inline;
	color: white;
}

#meal-button:hover {
	border-color:transparent;
	opacity: 0.8;
}

button:active{
	outline: none;
	border: none;
}

button:focus{
	outline: 0;
}

#submit {
	background-color: #228B22;
}

#submit:hover {
	background-color: #1F7D1F;
}

#date {
	text-align:center;
	font-family:garamond;
	font-size:25pt;
	color:white;
	height:50px;
	width:550px;
	border-radius: 5px;
	background-color: #9A3334;

}

.table {
	border:3px solid black;
}

#noMeals,#caloriesToday {
	text-align: center;
	font-size: 25pt;
	height: 50px;
	width: 550px;
	border: 1px solid black;
	border-radius: 5px;
}

.onlyText {
	background:none;
	border:none;
	margin: 0;
	padding: 0;
}