<head>
	<link rel="stylesheet" type="text/css" href="CalorieCounter.css">
</head>
<body>
	<div id="top">
		<h1 style="float:left;margin:0;font-family:Impact;color:#9A3334;border:0px;padding:0px;">EasyCounter</h1>
		<label style="float:left;margin-left:10px;">
			<meteor-include src="loginButtons" style="color:black;font-size:14pt;"></meteor-include>
		</label>
		<!--
		-Need to add functionality so if title is clicked, will keep them on same page
	    -Need to customize 'Sign-In' so its not almost to the middle  
	    -->
	</div>
	<div id="main-content"> <!--main-content-->

		<div id="left"> <!--left-->
			<button id="meal-button" data-toggle="modal" data-target="#myModal" data-backdrop="static">Add Meal</button>
			
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> <!--1-->
  				<div class="modal-dialog" role="document"> <!--2-->
    				<div class="modal-content" ng-controller="formCtrl"> <!--3-->
      					<div class="modal-header"> <!--4-->
        					<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clear()"><span aria-hidden="true">&times;</span></button>
        					<h2 class="modal-title" id="myModalLabel">Meal</h2>
      					</div> <!--/4-->
      					
      					<div class="modal-body"> <!--5-->
      						<label>Description :
      							<input type="text" ng-model="meal.description">
      						</label>
       						<div ng-repeat="item in meal.items"> <!--6-->
								<label>Item {{$index+1}} :
									<input type="text" class="item" ng-model="item.name"><br>
								</label>
								<label>Calories :
									<input type="number" class="calories" ng-model="item.cal"><br>
								</label>
								<br>
							</div> <!--/6-->
      					
      					<div class="modal-footer"> <!--7-->
						    <button ng-click="clear()" style="box-shadow:none;outline:none;" class="btn btn-default" data-dismiss="modal">Close</button>
						    <button ng-click="submit()" class="btn btn-primary" id="submit" data-dismiss="modal">Submit</button>
						    <button ng-click="addItem()" class="btn btn-primary">+Item</button>
				        </div> <!--/7-->

				    </div> <!--/5-->
    			 </div> <!--/3-->
  		      </div> <!--/2-->
			</div><!--/1-->
			<!--/Modal-->
		
		</div> <!--/left-->

		<div id="right" ng-controller="resultCtrl"> <!--right-->
			
			<label id="date">
				Today's Date : {{todayDate}}
			</label>
			<br><br><br>
			<label ng-show="!countMeals()" id="noMeals">
				No Meals for today!
			</label>


			<table class="table table-hover" ng-show="countMeals()">
				<thead>
					<tr>
						<th>#</th>
						<th>Description</th>
						<th>Calories</th>
						<th>Date</th>
					</tr>
				</thead>

				<tbody ng-repeat="meal in allMeals">
					<tr>
						<td>{{$index+1}}</td>
						<td><b>{{meal.description}} :</b>
							<ol ng-repeat = "item in meal.items">
								{{item.name}} : {{item.cal}}
			      			</ol>
						</td>
						<td>{{meal.total}}</td>
						<td>{{meal.date}}</td>
					</tr>
				</tbody>
			</table>

			<label ng-show="countMeals()" id="caloriesToday">
				Total Calories : {{caloriesToday}}
			</label>
		</div> <!--/right-->

	</div><!--/main-content-->
</body>
